$mobile: 375px;
$desktop: 1440px;

$white: hsl(100, 100%, 100%);
$dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);
$pink: hsl(322, 100%, 66%);

$font-body: 'Open Sans', sans-serif;
$font-heading: 'Poppins', sans-serif;
$font-normal: 400;
$font-bold: 700; 

$primary-color: $pink;
$text-color: $grayish-blue;
$heading-color: $dark-cyan;
$dark-color: $dark-cyan;
